<div class="container">
    <h2 class="text-center" style="color: tomato; margin: 20px;">Available Bikes</h2>
    <div>
        <table class="table table-responsive text-center">
            <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">NAME</th>
                  <th scope="col">COMPANY</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let bike of products">
                    
                        <td>{{bike.id}}</td>
                        <td><a style="text-decoration: none;color: black;" [routerLink]="['detail',bike.id]"> {{bike.name}} </a></td>
                        <td>{{bike.company}}</td>
                </tr>
                </tbody>
        </table>
      </div>
</div>
    
<router-outlet></router-outlet>