<div class="container-fluid">
  <nav class="navbar navbar-dark bg-dark">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/">Routing Example</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/product" routerLinkActive="active">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/contactus" routerLinkActive="active">Contact us</a>
    </li>
  </ul>
</nav>
</div>


<router-outlet></router-outlet>